<!DOCTYPE html>
<html>
  <head>
    <title>Food Log</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%= render 'shared/header' %>
    <!-- End of header -->
    
    <!-- Flash messages -->
    <% if notice.present? %>
      <div class="notification is-link is-light"><%= notice %></div>
    <% end %>
    <% if alert.present? %>
      <div class="notification is-danger is-light"><%= alert %></div>
    <% end %>
    <!-- End of flash messages -->

    <!-- Main section -->
    <div class="container">
      <%= yield %>
    </div>
    <!-- End of main section -->
  </body>
</html>
